.content-container {
    transition: transform 0.5s ease-in-out;
}

.slide-init {
    opacity: 0;
    transform: translateY(100%);
}

.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.slide-out {
    transform: translateY(-100%);
    height: 0;
}
